* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
nav {
  width: 1200px;
  height: 100px;
  background-color: #ddd;
  margin: auto;
}
nav .row {
  align-items: center;
  justify-content: center;
}
nav .row li {
  padding: 10px 20px;
  align-items: center;
}
